#particles-js {
	background: #21ce99;
	width: 100vw;
	height: 100vh;
	padding: 0px;
	margin: 0px;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #21ce99;
}

h1 {
	color: #ffffff;
	font-size: 75px;
	font-family: Arial;
	display: inline;
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 35vh;
	font-family: 'Varela', sans-serif;
}

h2 {
	color: rgb(128, 128, 128);
	font-family: Arial;
	font-size: 45px;
	text-align: center;
}

#subtitle {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	display: block;
}

a {
	color: #ffffff;
	text-decoration: None;
	text-align: center;
	margin: auto;
	margin-top: 15px;
	margin-right: 5px;
	border: 2px solid #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 15px;
	transition-duration: .3s;
}

a:hover {
	color: #21ce99;
	background-color: #ffffff;
	transition-duration: .3s;
}

login,name {
	margin-top: 35px;
	font-size: 20px;
	font-family: Arial;
	position: relative;
	display: inline;
	}

login {
	float: right;
	cursor: pointer;
	margin-right: 50px;
	margin-top: 45px;	
}

name {
	float: left;
	margin-left: 55px;
	color: #ffffff;
	font-family: 'Varela', sans-serif;
    font-size: 30px;
}

i {
	font-size: 50px;
	margin-top: 0px;
}

.article {
	position: relative;
    padding-top: 20vh;
    background-color: #1b1b1d;
    height: 100%;
    padding-bottom: 35vh;
}

.article h2 {
	color: #ffffff;
	font-family: 'Varela', sans-serif;
}

.article p {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	text-align: center;
	width: 50vw;
    max-width: 800px;
	margin: auto;
	text-align: left;
}

.article ul {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	width: 25vw;
	margin: auto;
}

.article a {
	border: 0px;
	color: #21ce99;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	text-decoration-color: #21ce99;
}

.article a:hover{
	background-color: transparent;
	text-decoration: underline;
	text-decoration-color: #21ce99;
}


.article button {
	background-color: #1b1b1d;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	width: 200px;
	height: 60px;
	color: #21ce99;
	font-size: 20px;
	margin: auto;
	border: 2px solid #21ce99;
	font-family: 'Lato', sans-serif;
}

#signup {
	text-align: center;
}

.article button:hover {
	background-color: #21ce99;
	color: #ffffff;
	cursor: pointer;
}
footer {
	width: 100%;
	background: #21ce99;
	padding-top: 1px;
	padding-bottom: 1px;
}

#footertext {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #ffffff;
}

header {
    max-width: 1000px;
    margin: auto;
}
